
/* Paasing down the page height from the top of the document */
body,
html {
    overflow-x: hidden;
    height: 100%;
}


/* Styliing the Main Appp holder */
#v-app{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


@media only screen and (min-width: 540px) {
    body{
        display: grid;
        place-items: center;
        background-color: grey;
    }
    #v-app{
        width: 320px;
        height: 90%;
        border: 1px solid red;
        border-radius: 20px;
        background-color: #fff;
    }
}